#scene__leaderboards{
    display: none;
}

.leaderboards {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.lb-title-wrapper {
    height: 20%;
}

.lb-table-wrapper {
    height: 80%;
}